main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: auto;
    position: relative;
}
form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -8px;
}
input[type="text"]{
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    color: #000000;
    background-color: #e2efff;
}
label{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    font-size: 40px;
    border: none;
    background-color: transparent;
}
.mainTitle{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    color: #fff;
}
h1{
    font-size: 48px;
    letter-spacing: 20px;
    text-transform: uppercase;
    text-align: center;
}
#header{
    background-image:linear-gradient(180deg, #00000067, #000000), url(../images/cosmos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
#header .desc{
    padding: 30px;
}
.arrow, .arrow:before {
    position: absolute;
    left: 50%;
}
.highlighted{
    background-color: rgb(117, 117, 0);
    text-transform: uppercase;
}
.arrow {
    width: 20px;
    height: 20px;
    bottom: 50px;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}
.arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}
.contentMain, .contentDesc{
    width: 40%;
    height: 80vh;
}
.contentMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    width: 100%;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
}
#header .contentDesc{
    flex-direction: column;
    justify-content: center;
}
#header .contentMain{
    width: 100%;
    text-align: center;
}
#header .contentMain .title{
    text-align: center;
}
#header .contentMain .desc{
    text-align: center;
}
.contentDesc{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}
.descDesc{
    width: 90%;
    padding: 15px;
    text-align: justify;
    border-left: 2px solid #fff;
}
iframe{
    width: 80%;
    height: 100%;
}
.planets{
    width: 100vw;
    height: 300px;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 992px) {
    .contentMain, .contentDesc{
        width: 80%;
        height: fit-content;
    }
    section{
        flex-direction: column;
    }
    iframe{
        width: 100%;
    }
    .planets{
        display: none;
    }
    .descDesc{
        width: 100%;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 44px;
        margin-top: 15px;
        margin-bottom: 5px;
    }
    .desc{
        padding-right: 0;
    }
    input[type="text"]{
        width: 100px;
    }
}

@keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
}
