*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #fff;
}
body{
    background-color: black;
    position: relative;
    min-height: 300vh;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}