main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
section{
    display: flex;
    min-height: 100vh;
    height: auto;
    position: relative;
}

.sectionStart{
    justify-content: start;
}

.sectionEnd{
    justify-content: end;
}
.sectionEnd .content{
    transform: translateX(80%);
    opacity:0;
    transition: 1s;
}
.sectionStart .content{
    transform: translateX(-80%);
    opacity:0;
    transition: 1s;
}

.animate {
    transform: translateX(0) !important;
    opacity:1 !important;
}
.title{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    color: #fff;
}
h1{
    font-size: 64px;
    letter-spacing: 10px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}
video{
    position: absolute;
    height: 50%;
    width: 100vw;
    z-index: -1;
}
img{
    position: absolute;
    height: 50%;
    z-index: -1;
}
section video {
    top: 20vh;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
}
.context{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 60%;
    border: 2px solid white;
    border-radius: 20px;
}
.contextBox{
    display: flex;
    flex-direction: row !important;
    height: 90%;
}
.contextMainRight, .contextMainLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: calc(100% - 60px);
    margin: 30px 30px 0 0;
}

.contextMainRight{
    border-left: 3px solid #fff;
}

.contextMainRight .contextMainTitle{
    text-align: left;
}

.contextMainLeft{
    border-right: 3px solid #fff;
}

.contextMainLeft .contextMainTitle{
    text-align: right;
}

.contextMainTitle{
    width: 65%;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
    line-height: 30px;
}

.contextMainText{
    width: 65%;
    padding-top: 20px;
    margin-bottom: auto;
    height: fit-content;
    text-align: justify;
}

.contextDescLeft, .contextDescRight{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    width: 60%;
    height: calc(100% - 60px);
    margin: 30px 30px 30px 0;
    margin-left: 10px;
}

.contextFact{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    height: fit-content;
}

.contextFact span{
    margin-left: 15px;
}

.contextDescLeft .contextFact span{
    margin-right: 15px;
    text-align: right;
}

.factNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px;
    border-radius: 50%;
    font-size: 24px;
    background-color: #1b1b1b;
}

.planetName{
    display: block  !important;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 0px 0px 10px 10px;
    font-size: 32px;
    letter-spacing: 10px;
    color: #fff;
    background-color: black;
}

.arrow, .arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 20px;
    height: 20px;
    bottom: 50px;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}
  
.arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

#sun{
    top: -16vh;
    transform: rotate(180deg);
}

#mercury{
    height: 30%;
    top: 30vh;
    transform: rotate(180deg);
}

#venus{
    height: 65%;
}

#earth{
    height: 60%;
}

#mars{
    height: 40%;
    top: 30vh;
}

#jupiter{
    height: 90%;
    top: 5vh;
    margin-left: -10vw;
}

#saturn{
    height: 100%;
    top: 0;
    margin-right: -10vh;
    transform: rotate(-23deg);
}

#uranus{
    top: 15vh;
    height: 80%;
}

#neptune{
    top: 25vh;
    margin-right: -30vh;
}
  
@keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
}

@media only screen and (max-width: 1366px) {
    .content{
        width: 100%;
    }
    .context{
        background-color: rgba(0,0,0, 0.5);
        backdrop-filter: blur(10px);
    }
}

@media only screen and (max-width: 992px) {
    .content{
        margin-top: 90px;
        height: fit-content;
        margin-bottom: 90px;
    }
}

@media only screen and (max-width: 768px) {
    .contextBox{
        flex-direction: column !important;
    }
    .contextBox:has(.contextMainRight){
        flex-direction: column-reverse !important;
    }
    .contextMainRight, .contextMainLeft{
        width: 100%;
        border: none;
    }
    .contextMainLeft .contextMainTitle{
        text-align: left;
    }
    .contextDescLeft, .contextDescRight{
        width: 90%;
    }
    .contextDescRight .contextFact{
        margin-left: 15px;
        margin-right: 15px;
    }
    .contextDescLeft .contextFact{
        flex-direction: row-reverse;
        margin-left: 15px;
        margin-right: 15px;
    }
    .contextDescLeft .contextFact span{
        text-align: left;
    }
}

@media only screen and (max-width: 600px) {
    
}
