main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}

section{
    display: flex;
    min-height: 100vh;
    height: auto;
    position: relative;
}

.sectionStart{
    justify-content: start;
}

.sectionEnd{
    justify-content: end;
}

.title{
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
    color: #fff;
}

h1{
    font-size: 48px;
    letter-spacing: 20px;
    text-transform: uppercase;
}

video{
    position: absolute;
    height: 50%;
    width: 100vw;
    z-index: -1;
}

section video {
    top: 20vh;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
}

.context{
    width: 90%;
    height: 60%;
    border: 2px solid white;
    position: relative;
    border-radius: 20px;
}

.planetName{
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    padding: 0px 0px 10px 10px;
    font-size: 32px;
    letter-spacing: 10px;
    color: #fff;
    background-color: black;
}

.arrow, .arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 20px;
    height: 20px;
    bottom: 50px;
    margin: -20px 0 0 -20px;
    transform: rotate(45deg);
    border: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    cursor: pointer;
}
  
.arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

#sun{
    top: -16vh;
    transform: rotate(180deg);
}

#mercury{
    transform: rotate(180deg);
}

#earth{
    height: 60%;
}

#saturn{
    height: 80vh;
}
  
@keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
}