main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    height: auto;
    position: relative;
}
.contentMain, .contentDesc{
    width: 40%;
    height: 80vh;
}
.contentMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 100%;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
}
.desc{
    width: 100%;
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}
.contentDesc{
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
}
iframe{
    width: 80%;
    height: 100%;
}

@media only screen and (max-width: 1366px) {
    
}

@media only screen and (max-width: 992px) {
    section{
        flex-direction: column-reverse;
    }
    .contentMain, .contentDesc{
        width: 80%;
    }
    iframe{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    
}

@media only screen and (max-width: 600px) {
    .title{
        font-size: 44px;
    }
}