@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Sora:wght@500;600&display=swap');
.navbar{
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
}
nav{
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    font-family: poppins, sans-serif;
    font-weight: 500;
    width: 100%;
    max-height: 50px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 999;
}
nav a{
    text-decoration: none;
    color: #fff;
    z-index: 999;
}
.navul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding-top: 0;
    transition: 1s;
}
.navul li{
    padding: 15px;
}
.navul li:hover{
    cursor: pointer;
}
.navDrop{
    display: none;
    justify-content: center;
    position: absolute;
    user-select: none;
    height: fit-content;
    font-family: poppins, sans-serif;
    background-color: #000;
    z-index: 99;
    top: 50px;
    width: 100%;
    animation: to-bottom 0.5s forwards;
}
.navDropMain{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    padding-top: 15px;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navDropContent{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    margin: auto;
}
.navDropHeading{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 20px;
    margin-bottom: 15px;
    width: 100%;
}
.navDropHeading span{
    font-size: 26px;
}
.navDropImg{
    margin-right: 10px;
    width: 40px;
    height: 40px;
}
.navbar:has(#planets:hover) .navDrop, .navDrop:hover{
    display: flex;
}
.display{
    display: block;
    position: fixed;
    width: 100vw;
    animation: to-bottom 1s;
}
.nav-extend{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30px;
    width:  30px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.295);
    cursor: pointer;
    
}
.nav-extend div{
    width: 80%;
    height: 3px;
    max-height: 4px;
    margin: 2px;
    background-color: #fff;
    border-radius: 2px;
}
footer{
    width: 100vw;
    position: relative;
    height: fit-content;
    text-align: center;
    color: #fff;
    font-family: poppins, sans-serif;
    font-size: 18px;
}
.footerLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.footerLink{
    width: 100%;
}
.footerLink h6{
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.footerLink h6::after{
    content: "";
    position: absolute;
    bottom: -27px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all ease-in-out 0.2s;
}
.footerLink h6:hover:after{
    left: 5%;
    width: 90%;
}
.footerLink h6 a{
    color: #fff;
    text-decoration: none;;
}
footer hr{
    margin-top: 25px;
}
.footerDesc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.footerDesc p{
    font-size: 16px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}
footer .social{
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}
.social a{
    color: #fff;
    margin: 15px;
    text-decoration: none;
}
.copyright{
    font-size: 16px;
    text-align: center;
    padding: 20px;
}
.copyright a{
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width:438px){
    .nav-extend{
        display: flex;
    }
    .navul:has(#planets){
        display: none;
        transform: translateY(-150%);
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        backdrop-filter: blur(10px);
        background-color: rgba(0, 0, 0, 0.295);
    }
    nav{
        flex-wrap: wrap;
    }
}

@keyframes to-bottom {
    0% {
        transform: translateY(-50%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}