*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
main{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}
video{
    height: 50%;
    width: 50%;
    transform: rotate(180deg);
}